# Be aware that we must add '/' ahead of each item
# or it will also match subdirecories with the same name that are not in the root directory
/*

!/src/
!/external/
!/doc/
!/CMakeLists.txt
!/README.md
